@page "/OficinaAsignadas"
@using p21_universidadv1.Modelo;
@using p21_universidadv1.Servicio;
@inject ServicioOficinaAsignadas serv

<h3>Informacion de Oficina Asignada</h3>

<NavLink class="nav-link" href="AgregarOficinaAsignadas">
    <span class="oi oi-plus">Agregar Nuevo</span>
</NavLink>

@if(obj is null) {
    <p>Cargando ...</p>
} else {
    <table class="table">
        <thead>
            <th>Instructor</th>
            <th>Ubicacion</th>
        </thead>
    
    <tbody>
        @foreach (var i in obj)
        {
            <tr>
                <td>@i.Instructor.NombreCompleto</td>
                <td>@i.Ubicacion</td>
                <td>
                    <a class="nav-link" href="EditarOficinaAsignadas/@i.InstructorId">
                        <span class="oi oi-pencil">Editar</span>
                    </a>
                     <a class="nav-link" href="EliminarOficinaAsignadas/@i.InstructorId">
                        <span class="oi oi-pencil">Eliminar</span>
                    </a>
                </td>
            </tr>
        } 
    </tbody>
    </table>
}

@code {
    List<OficinaAsignada> obj;
 
    protected override void OnInitialized() {
        obj = serv.ObtenerTodo();

    }
}